Dear <%=@buyer_name%>,<br/>

Seller has accepted the transaction and scheduled the pickup for tomorrow. Your order should reach you in 5 working days.<br/> 
Please track your package status from our shipment partner Fedex here:<br/>
<a href = "https://www.fedex.com/apps/fedextrack/?action=track&trackingnumber=<%=@tracking_number%>&cntry_code=in">https://www.fedex.com/apps/fedextrack/?action=track&trackingnumber=<%=@tracking_number%>&cntry_code=in</a><br/>

For any information pertaining to the status of your order, you can reply back to the same email or call us at +91-8095117799.<br/><br/>

Best Regards,<br/>
SecondCry Team