Dear <%= @seller_name%>,<br/><br/>

Your pickup request with SecondCry was successful. Please download your pickup label from the link below:<br/>
<a href = "<%=@label_url%>"><%=@label_url%></a><br/>

You MUST print and paste this label on your package. The pickup person from Fedex will call you to coordinate the suitable time for pickup. You can download this label from the transaction page on our website as well.<br/><br/>

For any information pertaining to the status of your order, you can reply back to the same email or call us at +91-8095117799.<br/><br/>

Best Regards,<br/>
SecondCry Team