<h1><%= @status%></h1>
<br/><br/>
<h2>Error Status Code / Total Listings Returned: <%= @code_or_total%></h2>
<br/>
<h2>Error Message / Listings Updated Count: <%= @message_or_count%></h2>
<br/>
API URL: <%= @api_url %>
