<label class="input">Phone Number</label>
<input class="title_text_field" required = "true" minlength = "10" maxlength="11" placeholder="Enter your phone number" type="text" name="listing[phone_number]" id="phone_number", value = "<%= user.phone_number if !user.phone_number.blank?%>"/>