#new_message_form.centered-section
  .initiate-transaction-totals
    Instructions:<br/>
    1. Please make sure that all the items of this order are packed in ONE SINGLE package.<br/>
    2. Packing should be done by you and should be suitable for a courier shipment. We recommend wrapping bulky items with a bubble wrap if boxes are not available.
    <br/>
    3. Pickup can be scheduled for either Today's or Tomorrow's date. If your package is not ready, please DO NOT PROCEED BELOW and inform the buyer about delay.<br/>
    4. Once you fill the form below, a prepaid shipping label will be sent to your email id registered with SecondCry which you MUST PRINT & PASTE on the shipment.
    Failure of putting the prepaid label on your shipment will invite a PENALTY OF 500/- charged by our shipment partner and the same will be deducted from your settlement amount.<br/>
    5. You can update your bank details in Settings section or on next page to receive payment for this order.
    Please write to admin@secondcry.com if you are not able to qualify with these requirements.<br/><br/>

    .row
      .col-8
        %a.send_button{:href => "/en/transactions/#{params[:txn_id]}"} <--  Click here to go back
      .col-4
        %a.send_button{:href => "/transactions/pickup?txn_id=#{params[:txn_id]}"} Continue -->


