#footer
  .row
    .col-2
    .col-2
      .about-us 
        .title
          Information
        .content
          Home
          %br
          About us
          %br
          Contact us
          %br
          Invite new members
    .col-2
      .about-us 
        .title
          Contact us
        .content
          Email: secondcry.com@gmail.com
          %br
          Phone: +91-8095117799
        .split-line
        .title
          Keep in touch
        .facebook-icon
          =icon_tag("facebook", ["icon"])
    .col-2
      .about-us
        .title
          My Account
        .content
          Messages
          %br
          Profile
          %br
          Manage Listings
          %br
          Settings
    .col-2
      .about-us 
        .title
          Facebook Group
        .content
          https://www.facebook.com/groups/secondcry
    .col-2
