#footer
  = image_tag 'footer.png', style: "bottom:0; width: 100%; position: absolute; z-index: -1"
  .row
    .col-2
    .col-2
      .about-us 
        .title
          Information
        .content
          %a{:href=>"/"} Home
          %br
          %a{:href=>"/en/infos/about"} About us
          %br
          %a{:href=>"/en/invitations/new"} Invite new members
    .col-2
      .about-us 
        .title
          Contact us
        .content
          %a{:href=>"mailto:secondcry.com@gmail.com", :target=>"_blank"} E-Mail
          %br
          %a{:href=>"tel:+91-8095117799"} Mobile
          %br
          %a{:href=>"/en/user_feedbacks/new"} Online feedback
    .col-2
      .about-us
        .title
          My Account
        .content
          %a{:href=>"/en/my/inbox"} Messages
          %br
          Profile
          %br
          Manage Listings
          %br
          Settings
    .col-3
      .about-us 
        .title
          Facebook group
        .content
          .fb-page{:data => {:href=>"https://www.facebook.com/Secondcry-383832128455555", :width=>"280", :small_header=>"false", :adapt_container_width=>"true", :hide_cover=>"true", :show_facepile=>"true"}}
          %br
          %br
          %br
    .col-1
